@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

.App {
  display: grid;
  grid-template-rows: 10vh 85vh 5vh;
  background-color: lightseagreen;
  height: 100vh;
}

.SearchPage {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.HomePage {
  grid-row: 2 / 3;
}

.Header {
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: lightpink;
  color: white;
  font-family: 'Reggae One';
  font-size: 2rem;
  text-shadow: palevioletred 2px 2px;
  padding-left: 2vw;
}

.Footer {
  display: flex;
  position: relative;
}

.grass {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.SideBar {
  display: flex;
  grid-column: 1 / 2;
  background-color: mediumslateblue;
}

input {
  height: 2rem;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  border: none;
}

select {
  height: 2rem;
  width: 100%;
  background-color: mediumslateblue;
  color: white;
  border: none;
}

.results-div {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: lightskyblue;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  padding-bottom: 10vh;
  padding-top: 2vw;
}

.poke-item {
  width: 125px;
  height: 125px;
  border: solid 2px white;
  color: white;
  text-align: center;
  margin: 2vw;
  background-color: paleturquoise;
  border-radius: 5% 5% 50% 50%;
  background-image: url('https://img1.picmix.com/output/stamp/normal/0/4/0/3/653040_2134b.gif');
  background-size: 100% 100%;
}

.poke-image {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.poke-stat {
  font-size: .5rem;
  text-transform: capitalize;
  height: 1rem;
  background-color: white;
  color: darkslategray;
}

.poke-name {
  background-color: white;
  color: skyblue;
  font-weight: bolder;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
