@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
* {
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-rows: 4em 90vh 10vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  background-position: cover;
  background-size: 100vw 100vh;
  background-image: url('https://cdn.wallpapersafari.com/45/95/wA5CBG.jpg');
}

Header {
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  border-bottom: hotpink solid .5em;
}

.header {
  color: white;
  font-family: 'Reggae One';
  font-size: 2em;
  text-shadow: hotpink .05em .05em;
  padding-left: 2vw;
  width: 100%;
}

.SearchPage {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 30vw 70vw;
  width: 100vw;
}

.HomePage {
  grid-row: 2 / 3;
  width: 100vw;
  background-image: url('https://wallpapercave.com/wp/t7peS7Z.jpg');
  background-size: auto 100%;
  background-position: center;
}

.link {
  display: flex;
  width: 20vw;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  right: 0vw;
  font-size: 1rem;
}

.pokeball-container {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
color: white;
}

.pokeball-span {
  font-size: .75em;
  font-style: italic;
}

.pokeball {
  max-height: 3em;
  animation: App-logo-spin infinite 5s linear;
  margin: .5em;
}

.Footer {
  display: flex;
  height: 5vh;
  width: 100%;
  position: relative;
}

.grass-container {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
}

.grass {
  height: 15vh;
}

.SideBar {
  display: flex;
  grid-column: 1 / 2;
  overflow-y: auto;
  max-height: 100%;
  justify-content: center;
}

form {
  width: 100%;
}

.label, .radio-label {
  color: white;
  font-weight: bold;
  margin-top: 2vh;
  text-align: center;
  margin-bottom: 1vh;
}

.radio-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.radio-label {
  font-size: .75em;
  max-width: 33%;
}

.radio-option {
  max-width: 100%;
  margin: 0px;
  margin-top: 5px;
}

input, button {
  height: 2rem;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  border: none;
  background-color: white;
}

select {
  height: 2rem;
  width: 100%;
  background-color: hotpink;
  color: white;
  border: none;
  font-size: 1em;
}

.loading-spinner {
  animation: App-logo-spin infinite .25s linear;
  width: 30%;
}

.spinner-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

}

.results-div {
  grid-column: 2 / 3;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 100%;
  padding: 3vw;
  padding-bottom: 10vw;
  max-width: 100%;

}

.poke-item, .poke-ball-item, .detail-item {
  width: 175px;
  height: 200px;
  border: solid .3em white;
  color: white;
  text-align: center;
  margin: 20px;
  margin-top: 3vw;
  margin-bottom: 5vw;
  background-color: black;
  border-radius: 10% 10% 75% 75%;
  background-image: url('https://img1.picmix.com/output/stamp/normal/0/4/0/3/653040_2134b.gif');
  background-size: 100% 100%;
  position: relative;
  cursor: pointer;
}

.poke-ball-item {
  background-color: white;
}

.poke-image {
  width: 125px;
  height: 125px;
  margin-top: 10px;
}

.poke-stat, .details-link, .add-link, .detail-stat{
  font-size: .5rem;
  text-transform: capitalize;
  height: fit-content;
  color: black;
  margin: 2px;
}

.text-container, .detail-container {
  height: 60px;
  margin-top: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.detail-item {
  width: 60%;
  height: 80%;
  background-color: white;
}

.DetailPage {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.detail-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-container {
  flex-direction: row;
  height: fit-content;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.detail-stat {
  height: 40px;
  margin: 5px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exit {
  position: absolute;
  right: -30px;
  cursor: pointer;
  color: white;
}

.poke-name, .detail-name {
  color: black;
  font-weight: bolder;
}

.detail-name {
  color: white;
  font-size: 3em;
}

.divider {
  height: 3px;
  margin-bottom: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
